.profile-page {
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
  .profile {
    margin: 40px 30px;
    padding: 15px 0;
    width: 800px;
    background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
    padding-left: 50px;
    color: white;
    font-size: 40px;
    margin-left: -23%;
    @media screen and (max-width: 768px) {
      margin: 0;
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .row {
    background-color: aliceblue;
    padding: 20px 0;
    padding-left: 30px;
    @media screen and (max-width: 992px) {
      display: block;
      padding: 0;
      margin: 0 auto;
    }
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    .col-2 {
      padding-top: 15px;
      @media screen and (max-width: 992px) {
        margin-left: 15%;
      }
      @media screen and (max-width: 350px) {
        margin-left: 0;
      }
      img {
        @media screen and (max-width: 992px) {
          display: block;
          height: auto !important;
          width: 250px !important;
        }
      }
    }
    .col-8 {
      .row {
        .left {
          .email {
            @media screen and (max-width: 992px) {
              width: 60vw;
            }
            @media screen and (max-width: 550px) {
              width: 80vw;
            }
            p {
            }
            input {
            }
          }
          .phone {
            @media screen and (max-width: 992px) {
              width: 60vw;
            }
            @media screen and (max-width: 550px) {
              width: 80vw;
            }
            p {
            }
            input {
            }
          }
        }
        .right {
          .name {
            @media screen and (max-width: 992px) {
              width: 60vw;
            }
            @media screen and (max-width: 550px) {
              width: 80vw;
            }
            p {
            }
            input {
            }
          }
          .password {
            @media screen and (max-width: 992px) {
              width: 60vw;
            }
            @media screen and (max-width: 550px) {
              width: 80vw;
            }
            p {
            }
            input {
            }
          }
          .gender {
            margin-top: 15px;
            @media screen and (max-width: 992px) {
              width: 60vw;
            }
            @media screen and (max-width: 550px) {
              width: 80vw;
            }
            button {
              @media screen and (max-width: 992px) {
                display: block;
                margin: auto !important;
                margin-top: 20px;
                margin-bottom: 25px;
              }
            }
          }
        }
      }
    }
  }
  .history {
    font-size: 35px;
    color: #dd2aed;
    padding: 0 40px;
    padding-left: 0;
    border-right: 1px solid silver;
  }
  .favorite {
    font-size: 35px;
    margin: 0 40px;
    @media screen and (max-width: 350px) {
      margin: 0;
    }
  }
  .history-order {
    margin-top: 50px;
    margin-bottom: 0;
    color: #dd2aed;
  }
  .table-res {
    overflow-x: auto;
  }
  .table {
    border: 1px solid black;
    thead {
      background-color: #d9d9d9;
      border: 2px solid black;
    }
  }
  .pagination{

  }
}

