* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.carts {
  padding: 49px 40px 230px 69px !important; }
  .carts h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48.41px;
    margin-bottom: 42px; }
  .carts hr {
    color: #d9d9d9;
    height: 2px;
    margin: 0; }
  .carts .table {
    border: none;
    margin-top: 71px; }
    .carts .table thead {
      border: none;
      height: 57.63px; }
      .carts .table thead tr {
        background-color: #d9d9d9; }
        .carts .table thead tr th {
          border: none;
          font-weight: 400;
          font-size: 20px;
          line-height: 24.2px;
          padding: 18px 0 18px 8px; }
          .carts .table thead tr th input {
            accent-color: #6200ee; }
        .carts .table thead tr .quantity {
          padding-left: 65px; }
        .carts .table thead tr .action {
          padding-left: 60px; }
    .carts .table tbody {
      border: none; }
      .carts .table tbody tr {
        margin-top: 8px; }
        .carts .table tbody tr td {
          border: none; }
          .carts .table tbody tr td input {
            accent-color: #6200ee; }
          .carts .table tbody tr td img {
            width: 85px; }
          .carts .table tbody tr td .quantity-button {
            padding: 7px 14px;
            border-radius: 4px;
            border: none;
            background-color: #6200EE;
            color: #fff;
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2); }
          .carts .table tbody tr td span {
            margin-left: 21px;
            margin-right: 11px;
            width: 79.22px;
            background-color: #d9d9d9;
            display: inline-block;
            text-align: center;
            padding: 2px 0;
            font-weight: 400;
            font-size: 20px;
            color: #000; }
          .carts .table tbody tr td .action-button {
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2); }
          .carts .table tbody tr td .edit {
            margin-right: 26.41px;
            padding: 10px 22px;
            background-color: #6200EE; }
          .carts .table tbody tr td .delete {
            padding: 10px 16px 10px 28px;
            background-color: #EB5757; }
    .carts .table tfoot {
      border: none; }
      .carts .table tfoot tr td {
        border: none; }
        .carts .table tfoot tr td button {
          padding: 7px 20px;
          border: none;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          color: #fff;
          background-color: #F2994A;
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2); }
